<div class="section" id="golden-rule">
    <div class="section" id="golden-rule">
        <div class="col">
            <p>For the developers and designers at JH, implementing and adhering to both a high <b>quality</b> of code
                and a consistence <b>style</b> of code is an important & challenging task. We have tooling
                in place that ensures any new techniques or industry best practices can be
                integrated into our workflow (via automated builds and development tools) with the least amount of friction
                possible.</p>

            <p>We love iterating on our existing processes and do not shy away from ditching much-loved tools
                and software should we be introduced to that new, shinier tool that can do the job better!
                </p>

            <p>In fact, we believe so deeply in creating productive environments for our teams that we
            regularly contribute to and even have our own open source projects such as <a href="">BrowserSync</a>.</p>
        </div>
    </div>
</div>