<div class="section" id="golden-rule">
    <div class="col">
        <p>We believe in consistent coding styles at JH. It helps newcomers to
            get onboard quicker and helps make easy-to-maintain project code.
        </p>
    </div>
</div>
<div class="section" id="golden-rule">
    <div class="col">
        <h3>Tooling</h3>
    </div>
    <div class="col">
        <pre><code>exampl</code></pre>
    </div>
</div>