---
sections:
    - name: 'js'
      snippet: 'snippets/js.js'
---

<div class="section" id="golden-rule">
    <div class="col">
        <p>What would a front-end be with a sprinkle of JavaScript? Although a sturdy pillar in the
            architecture of a modern web experience - we are super responsible and try to only use JavaScript
            only where needed to enhance the user experience.
        </p>
    </div>
</div>

<div class="section" id="golden-rule">
    <div class="col">
        <h3>Tooling</h3>
    </div>
    <div class="col">
        <pre><code>exampl</code></pre>
    </div>
</div>